iframe{
	height: 20pc;
	
	border: none;
}

a {
	text-decoration: none;
	color: black;
}

#container, #header, #nav, #content {
	display: flex;
}

#container {
	flex-direction: column;
}

#header {
	justify-content: space-between;
}

#header>div {
	padding: 10px;
}

#logout {
	transition: 0.3s;
}

#logout:hover {
	background-color: cornflowerblue;
}

#nav {
	justify-content: space-evenly;
	padding: 10px;
}

#nav>div {
	padding: 10px;
	transition: 0.3s;
}

#nav>div:hover {
	background-color: darkorange;
}

#content {
	justify-content: center;
}